<div class="row">
  <div class="container-fluid">
     <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
           alt="">
        Landing Page
        </a>
     </nav>
  </div>
</div>
<div class="jumbotron">
  <div class="row">
     <div class="col-md-4">
        <div class="card">
           <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                 content.
              </p>
           </div>
        </div>
     </div>
     <div class="col-md-8">
        <div class="col-md-4">
           <button class="btn btn-primary"> File</button>
        </div>
     </div>
  </div>
  <br>
  <div class="">
     <div class="row">
        <div class="col-md-4">
           <div class="card">
              <div class="card-body">
                 <h5 class="card-title">Notifications</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                 </p>
              </div>
           </div>
        </div>
        <div class="col-md-8">
           <div class="card">
              <div class="card-body">
                 <div class="alert alert-info alert-dismissible" role="alert">
                    <strong> List of Dormant Accounts</strong>
                 </div>
                 <div class="row">
                    <div class="col-md-4">
                       <form>
                          <div class="input-group">
                             <input type="text" class="form-control" placeholder="Search">
                             <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                Search
                                </button>
                             </div>
                          </div>
                       </form>
                    </div>
                 </div>
                 <br>
                 <div class="row">
                    <div class="col-md-12">
                       <table class="table table-striped">
                          <thead>
                             <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                             </tr>
                             <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                             </tr>
                             <tr>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>july@example.com</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
                 <div class="alert alert-info alert-dismissible" role="alert">
                    <strong> My Open Activities</strong>
                 </div>
                 <br>
                 <div class="row">
                    <div class="col-md-12">
                       <table class="table table-striped">
                          <thead>
                             <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                             </tr>
                             <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                             </tr>
                             <tr>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>july@example.com</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>